html {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(58, 58, 58, 1);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 0;
}

.signpost {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(44, 154, 183, 1);
  margin: 0;
  padding: 3rem 10rem;
}

h1 {
  font-size: 2.25rem;
  margin: 0;
  padding: 0;
}

.taglinebox{
  padding-top: 8px;
}

h2 span:nth-of-type(2n+2) {
  padding: 0rem 10px;
}

h2 {
  margin: 0;
  padding: 1rem 10rem;
}

header nav {
  color: rgba(58, 58, 58, 1);
  font-size: .5em;
  background-color: rgba(235, 235, 235, 1);
  padding: 0;
  margin: 0;
}

.taglines {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: 100;
  font-size: 1.25rem;
}
/*top banner end*/

.sidebar {
  z-index: 1;
  position: relative;
  float: right;
  max-width: 200px;
  padding-left: 60px;
}

.centercontent {
  max-width: 500px;
}

main {
  background-color: rgba(235, 235, 235, 0.25);
  padding: 3rem 10rem 6rem;
}

figure {
  margin: 0;
}

h4 {
  color: rgba(44, 154, 183, 1);
  margin: 0;
}

figcaption, main p {
  color: rgba(58, 58, 58, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
}


h3 {
  margin: 0;
}

a, .blockcontent{
  color: rgba(44, 154, 183, 1);
}

.blockquote p {
  font-weight: 100;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(44, 154, 183, 1);
}

.sidelink {
  line-height: 4;
  font-size: 12px;
}


footer {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(58, 58, 58, 1);
  /*margin-top: 150px;*/
}


/* COLORS— BLUE: 44, 154, 183 | TOP NAVBAR 235, 235, 235 | BOTTOMBAR & TYPE rgba(58, 58, 58, 1);*/
